# CatBoost in R

Install required package. below installation is for Mac. refer to below link for installation
https://tech.yandex.com/catboost/doc/dg/installation/r-installation-binary-installation-docpage/

In [5]:
install.packages('devtools', 
  quiet = FALSE, 
  verbose = TRUE)

system (cmd0): /Users/mohameddhameemm/anaconda3/lib/R/bin/R CMD INSTALL
also installing the dependencies ‘fs’, ‘git2r’, ‘usethis’

foundpkgs: fs, git2r, usethis, devtools, /var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T//Rtmp6IUr1n/downloaded_packages/fs_1.2.6.tar.gz, /var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T//Rtmp6IUr1n/downloaded_packages/git2r_0.24.0.tar.gz, /var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T//Rtmp6IUr1n/downloaded_packages/usethis_1.4.0.tar.gz, /var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T//Rtmp6IUr1n/downloaded_packages/devtools_2.0.1.tar.gz
files: /var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T//Rtmp6IUr1n/downloaded_packages/fs_1.2.6.tar.gz,
	/var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T//Rtmp6IUr1n/downloaded_packages/git2r_0.24.0.tar.gz,
	/var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T//Rtmp6IUr1n/downloaded_packages/usethis_1.4.0.tar.gz,
	/var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T//Rtmp6IUr1n/downloaded_packages/devtools_2.0.1.tar.gz
Warning message in install.packages("devtools", quiet = FALSE, verbose = TRUE):
“installation of package ‘fs’ had non-zero exit status”Warning message in install.packages("devtools", quiet = FALSE, verbose = TRUE):
“installation of package ‘git2r’ had non-zero exit status”Warning message in install.packages("devtools", quiet = FALSE, verbose = TRUE):
“installation of package ‘usethis’ had non-zero exit status”Warning message in install.packages("devtools", quiet = FALSE, verbose = TRUE):
“installation of package ‘devtools’ had non-zero exit status”Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [6]:
library(devtools)

In [7]:
devtools::install_url('https://github.com/catboost/catboost/releases/download/v0.12.2/catboost-R-Darwin-0.12.2.tgz', args = c("--no-multiarch"))

Downloading package from url: https://github.com/catboost/catboost/releases/download/v0.12.2/catboost-R-Darwin-0.12.2.tgz
Installing catboost
Installing jsonlite
'/Users/mohameddhameemm/anaconda3/lib/R/bin/R' --no-site-file --no-environ  \
  --no-save --no-restore --quiet CMD INSTALL  \
  '/private/var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T/Rtmp6IUr1n/devtools405c6c298327/jsonlite'  \
  --library='/Users/mohameddhameemm/anaconda3/lib/R/library' --install-tests

'/Users/mohameddhameemm/anaconda3/lib/R/bin/R' --no-site-file --no-environ  \
  --no-save --no-restore --quiet CMD INSTALL  \
  '/private/var/folders/v8/l4dqp5tx4cq_9cx2rxsy_dm80000gn/T/Rtmp6IUr1n/devtools405c19e796ab/catboost'  \
  --library='/Users/mohameddhameemm/anaconda3/lib/R/library' --install-tests  \
  --no-multiarch

In [8]:
library(catboost)

In [10]:
testdata_file_path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
traindata_file_path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test'
testdata_data_description = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names'
#lets download all the required files to the current directory
download.file(url = testdata_file_path, destfile = 'adult.data')
download.file(url = traindata_file_path, destfile = 'adult.test')
download.file(url = testdata_data_description, destfile = 'adult.names')

In [35]:
system.file(package = "stats")

[1] "/Users/mohameddhameemm/anaconda3/lib/R/library/stats"

In [36]:
dir(system.file(package = "stats"))

 [1] "COPYRIGHTS.modreg" "demo"              "DESCRIPTION"
 [4] "help"              "html"              "INDEX"
 [7] "libs"              "Meta"              "NAMESPACE"
[10] "R"                 "SOURCES.ts"

In [56]:
column_description_vector = rep('numeric', 15)
cat_features <- c(3, 5, 7, 8, 9, 10, 11, 15)
for (i in cat_features)
  column_description_vector[i] <- 'factor'

In [60]:
train <- read.csv('adult.csv')
test <- read.csv('adult_test.csv')

In [61]:
head(train)

  X39 State.gov         X77516 Bachelors  X13 Never.married
1 50   Self-emp-not-inc  83311  Bachelors 13   Married-civ-spouse
2 38   Private          215646  HS-grad    9   Divorced
3 53   Private          234721  11th       7   Married-civ-spouse
4 28   Private          338409  Bachelors 13   Married-civ-spouse
5 37   Private          284582  Masters   14   Married-civ-spouse
6 49   Private          160187  9th        5   Married-spouse-absent
  Adm.clerical       Not.in.family  White  Male    X2174 X0 X40 United.States
1  Exec-managerial    Husband        White  Male   0     0  13   United-States
2  Handlers-cleaners  Not-in-family  White  Male   0     0  40   United-States
3  Handlers-cleaners  Husband        Black  Male   0     0  40   United-States
4  Prof-specialty     Wife           Black  Female 0     0  40   Cuba
5  Exec-managerial    Wife           White  Female 0     0  40   United-States
6  Other-service      Not-in-family  Black  Female 0     0  16   Jamaica
  X..50K
1  <=50K
2  <=50K
3  <=50K
4  <=50K
5  <=50K
6  <=50K

In [62]:
head(test)

  X25 Private    X226802 X11th         X7 Never.married
1 38   Private    89814   HS-grad       9  Married-civ-spouse
2 28   Local-gov 336951   Assoc-acdm   12  Married-civ-spouse
3 44   Private   160323   Some-college 10  Married-civ-spouse
4 18   ?         103497   Some-college 10  Never-married
5 34   Private   198693   10th          6  Never-married
6 29   ?         227026   HS-grad       9  Never-married
  Machine.op.inspct  Own.child      Black  Male    X0   X0.1 X40 United.States
1  Farming-fishing    Husband        White  Male      0 0    50   United-States
2  Protective-serv    Husband        White  Male      0 0    40   United-States
3  Machine-op-inspct  Husband        Black  Male   7688 0    40   United-States
4  ?                  Own-child      White  Female    0 0    30   United-States
5  Other-service      Not-in-family  White  Male      0 0    30   United-States
6  ?                  Unmarried      Black  Male      0 0    40   United-States
  X..50K.
1  <=50K.
2  >50K.
3  >50K.
4  <=50K.
5  <=50K.
6  <=50K.

In [63]:
target <- c(1)

In [64]:
train_pool <- catboost.load_pool(data=train[,-target], 
                                 label = train[,target])

In [65]:
test_pool <- catboost.load_pool(data=test[,-target], 
                                label = test[,target])

In [66]:
head(train_pool, 1)[[1]]

[1] 50

In [67]:
head(test_pool, 1)[[1]]

[1] 38

In [68]:
dataset = matrix(c(1900,7,
                   1896,1,
                   1896,41),
                 nrow=3, 
                 ncol=2, 
                 byrow = TRUE)

In [69]:
label_values = c(0,1,1)

fit_params <- list(iterations = 100,
                   loss_function = 'Logloss')

In [70]:
pool = catboost.load_pool(dataset, label = label_values)

In [71]:
model <- catboost.train(pool, params = fit_params)

Learning rate set to 0.025185
0:	learn: 0.6742245	total: 57.3ms	remaining: 5.67s
1:	learn: 0.6559739	total: 58.8ms	remaining: 2.88s
2:	learn: 0.6383708	total: 59.6ms	remaining: 1.93s
3:	learn: 0.6213909	total: 61.3ms	remaining: 1.47s
4:	learn: 0.6050111	total: 62.1ms	remaining: 1.18s
5:	learn: 0.5932667	total: 62.9ms	remaining: 986ms
6:	learn: 0.5818324	total: 63.7ms	remaining: 847ms
7:	learn: 0.5668198	total: 64.5ms	remaining: 742ms
8:	learn: 0.5523332	total: 65.1ms	remaining: 658ms
9:	learn: 0.5383523	total: 65.8ms	remaining: 593ms
10:	learn: 0.5248576	total: 66.5ms	remaining: 538ms
11:	learn: 0.5118303	total: 67.3ms	remaining: 494ms
12:	learn: 0.5025173	total: 68ms	remaining: 455ms
13:	learn: 0.4902490	total: 69.5ms	remaining: 427ms
14:	learn: 0.4784007	total: 70.2ms	remaining: 398ms
15:	learn: 0.4669561	total: 70.9ms	remaining: 372ms
16:	learn: 0.4558993	total: 71.5ms	remaining: 349ms
17:	learn: 0.4452151	total: 72.3ms	remaining: 329ms
18:	learn: 0.4348892	total: 73ms	remaining: 311ms
19:	learn: 0.4249074	total: 73.7ms	remaining: 295ms
20:	learn: 0.4152563	total: 74.4ms	remaining: 280ms
21:	learn: 0.4059230	total: 75.3ms	remaining: 267ms
22:	learn: 0.3992595	total: 76.2ms	remaining: 255ms
23:	learn: 0.3904413	total: 76.9ms	remaining: 243ms
24:	learn: 0.3819087	total: 77.7ms	remaining: 233ms
25:	learn: 0.3736508	total: 78.4ms	remaining: 223ms
26:	learn: 0.3656570	total: 79.1ms	remaining: 214ms
27:	learn: 0.3579169	total: 79.8ms	remaining: 205ms
28:	learn: 0.3523938	total: 80.5ms	remaining: 197ms
29:	learn: 0.3450650	total: 81.2ms	remaining: 189ms
30:	learn: 0.3398397	total: 82ms	remaining: 182ms
31:	learn: 0.3328958	total: 82.6ms	remaining: 176ms
32:	learn: 0.3279487	total: 83.4ms	remaining: 169ms
33:	learn: 0.3231144	total: 84.3ms	remaining: 164ms
34:	learn: 0.3183896	total: 85ms	remaining: 158ms
35:	learn: 0.3120869	total: 85.6ms	remaining: 152ms
36:	learn: 0.3059745	total: 86.4ms	remaining: 147ms
37:	learn: 0.3016304	total: 87.1ms	remaining: 142ms
38:	learn: 0.2958262	total: 87.8ms	remaining: 137ms
39:	learn: 0.2917040	total: 88.6ms	remaining: 133ms
40:	learn: 0.2861887	total: 89.3ms	remaining: 129ms
41:	learn: 0.2808348	total: 90ms	remaining: 124ms
42:	learn: 0.2756364	total: 90.8ms	remaining: 120ms
43:	learn: 0.2719454	total: 91.5ms	remaining: 116ms
44:	learn: 0.2669986	total: 92.2ms	remaining: 113ms
45:	learn: 0.2621925	total: 92.9ms	remaining: 109ms
46:	learn: 0.2575222	total: 93.6ms	remaining: 106ms
47:	learn: 0.2529828	total: 94.3ms	remaining: 102ms
48:	learn: 0.2497593	total: 95.2ms	remaining: 99.1ms
49:	learn: 0.2454318	total: 95.9ms	remaining: 95.9ms
50:	learn: 0.2423607	total: 96.6ms	remaining: 92.8ms
51:	learn: 0.2382326	total: 97.4ms	remaining: 89.9ms
52:	learn: 0.2342165	total: 98.1ms	remaining: 87ms
53:	learn: 0.2303083	total: 98.8ms	remaining: 84.1ms
54:	learn: 0.2265044	total: 99.5ms	remaining: 81.4ms
55:	learn: 0.2228011	total: 101ms	remaining: 79ms
56:	learn: 0.2191950	total: 101ms	remaining: 76.5ms
57:	learn: 0.2156829	total: 102ms	remaining: 74ms
58:	learn: 0.2122615	total: 103ms	remaining: 71.7ms
59:	learn: 0.2098300	total: 104ms	remaining: 69.4ms
60:	learn: 0.2065560	total: 105ms	remaining: 67ms
61:	learn: 0.2033649	total: 106ms	remaining: 64.7ms
62:	learn: 0.2002539	total: 106ms	remaining: 62.5ms
63:	learn: 0.1980428	total: 107ms	remaining: 60.4ms
64:	learn: 0.1950621	total: 108ms	remaining: 58.2ms
65:	learn: 0.1921547	total: 109ms	remaining: 56.1ms
66:	learn: 0.1900887	total: 110ms	remaining: 54.1ms
67:	learn: 0.1873006	total: 111ms	remaining: 52.1ms
68:	learn: 0.1845797	total: 111ms	remaining: 50ms
69:	learn: 0.1819239	total: 112ms	remaining: 48ms
70:	learn: 0.1800364	total: 113ms	remaining: 46.1ms
71:	learn: 0.1774864	total: 114ms	remaining: 44.2ms
72:	learn: 0.1749963	total: 114ms	remaining: 42.2ms
73:	learn: 0.1725640	total: 115ms	remaining: 40.4ms
74:	learn: 0.1701878	total: 116ms	remaining: 38.6ms
75:	learn: 0.1678661	total: 116ms	remaining: 36.8ms
76:	learn: 0.1655971	total: 117ms	remaining: 35ms
77:	learn: 0.1633792	total: 118ms	remaining: 33.2ms
78:	learn: 0.1612110	total: 119ms	remaining: 31.5ms
79:	learn: 0.1590909	total: 119ms	remaining: 29.8ms
80:	learn: 0.1570175	total: 120ms	remaining: 28.2ms
81:	learn: 0.1549895	total: 121ms	remaining: 26.5ms
82:	learn: 0.1530055	total: 122ms	remaining: 24.9ms
83:	learn: 0.1515909	total: 123ms	remaining: 23.3ms
84:	learn: 0.1501990	total: 123ms	remaining: 21.8ms
85:	learn: 0.1483156	total: 124ms	remaining: 20.2ms
86:	learn: 0.1464720	total: 125ms	remaining: 18.6ms
87:	learn: 0.1446673	total: 126ms	remaining: 17.1ms
88:	learn: 0.1429002	total: 127ms	remaining: 15.7ms
89:	learn: 0.1411697	total: 128ms	remaining: 14.2ms
90:	learn: 0.1394748	total: 129ms	remaining: 12.7ms
91:	learn: 0.1378145	total: 129ms	remaining: 11.2ms
92:	learn: 0.1361879	total: 130ms	remaining: 9.79ms
93:	learn: 0.1345939	total: 131ms	remaining: 8.35ms
94:	learn: 0.1330319	total: 131ms	remaining: 6.92ms
95:	learn: 0.1319163	total: 132ms	remaining: 5.5ms
96:	learn: 0.1304065	total: 133ms	remaining: 4.11ms
97:	learn: 0.1289262	total: 134ms	remaining: 2.73ms
98:	learn: 0.1274748	total: 134ms	remaining: 1.36ms
99:	learn: 0.1260514	total: 135ms	remaining: 0us

In [72]:
prediction <- catboost.predict(model, 
                               pool, 
                               prediction_type = 'RawFormulaVal')

In [73]:
head(pool, n = 10)

     [,1] [,2] [,3] [,4]
[1,] 0    1    1900  7
[2,] 1    1    1896  1
[3,] 1    1    1896 41